---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


<h1 style="text-align:center;">Seminars</h1>

{% assign conferences = site.talks | where: "category", "seminar" %}
{% for post in conferences reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<h1 style="text-align:center;">Conferences</h1>

{% assign conferences = site.talks | where: "category", "conference" %}
{% for post in conferences reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h1 style="text-align:center;">Demo Presentation</h1>

{% assign conferences = site.talks | where: "category", "demo" %}
{% for post in conferences reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h1 style="text-align:center;">Small Projects</h1>

{% assign projects = site.talks | where: "category", "informal" %}
{% for post in projects reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
